  @font-face {
	font-family: 'Cookie-Regular';
	src: url('../fonts/Cookie-Regular.ttf');
  }

  @font-face {
	font-family: 'Satisfy-Regular';
	src: url('../fonts//Satisfy-Regular.ttf');
  }
  
.container{
	h1{
		font-weight: 600;
		font-family: 'Satisfy-Regular';
		color: #000;
	}
	h4{
		font-family: 'Cookie-Regular';
	}
	.circle {
		position: relative;
		cursor: pointer;
		height: 300px;
		&:focus{
			outline: none;
		}
		.title {
			font-family: 'Satisfy-Regular';
			position: absolute;
			bottom: 20px;
			left: 0%;
			z-index: 1;
			width: 100%;
			text-transform: capitalize;
		   img {
			position: absolute;
			bottom: 2px;
			left: 16%;
			z-index: 1;
			width: 20px;
		   }
		}
	} 
}

 .frame {
	 position: relative;
     span {
		position: absolute;
		cursor: pointer;
        top: 12px;
        right: 18px;
        z-index: 1;
        width: 60px;
        img {
            width: 100%;
        }
     }
 } 

 .image-cropper {
    width: 200px;
    height: 200px;
    position: relative;
    overflow: hidden;
	border-radius: 50%;
	margin: 0 auto;
}

.certificate{
    font-family: 'Satisfy-Regular';
    border: double black 6em;
    -webkit-border-image: url(../images//border.png) 10% round;
    -o-border-image: url(../images//border.png) 10% round;
    border-image: url(../images//border.png) 10% round;
	text-transform: capitalize;
	min-height: 100vh;
	h1{
		color: #000000;
		font-size: 50px;
		@media (max-width: 768px) {
			line-height: 70px;
		}
	}
    img{
        width: 200px;
    }
    h6{
        text-transform: initial;
		word-spacing: 2.2px;
		font-size: 20px;
		@media (max-width: 768px) {
			line-height: 40px;
		}
    }
    h2{
        color: darkred;
        word-spacing: 12.2px;
		font-weight: 600;
		font-family: 'Cookie-Regular';
		font-size: 50px;
    }
}

.slick-slider{
	.slick-arrow{
		background: gray;
		border-radius: 50%;
		width: 19px;
		height: 18px;
	}
}

/*---------------*/
/***** Bubba *****/
/*---------------*/
* {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	&:after {
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
	}
	&:before {
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
	}
}
.clearfix {
	&:before {
		display: table;
		content: '';
	}
	&:after {
		display: table;
		content: '';
		clear: both;
	}
}
	figure {
		position: relative;
		float: left;
		overflow: hidden;
		margin: 10px 1%;
		background: #3085a3;
		text-align: center;
		cursor: pointer;
		img {
			position: relative;
			display: block;
			min-height: 100%;
			max-width: 100%;
		}
		figcaption {
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
			padding: 2em;
			color: #fff;
			text-transform: uppercase;
			font-size: 1.25em;
			-webkit-backface-visibility: hidden;
			backface-visibility: hidden;
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			&::before {
				pointer-events: none;
			}
			&::after {
				pointer-events: none;
			}
			>a {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				z-index: 1000;
				text-indent: 200%;
				white-space: nowrap;
				font-size: 0;
				opacity: 0;
			}
		}
		h2 {
			word-spacing: -0.15em;
			font-weight: 300;
			margin: 0;
			span {
				font-weight: 800;
			}
		}
		p {
			margin: 0;
			letter-spacing: 1px;
			font-size: 60%;
		}
	}
figure.effect-bubba {
	background: transparent;
	&:hover {
		img {
			opacity: 0.4;
		}
		figcaption {
			&::before {
				opacity: 1;
				-webkit-transform: scale(1);
				transform: scale(1);
			}
			&::after {
				opacity: 1;
				-webkit-transform: scale(1);
				transform: scale(1);
			}
		}
		h2 {
			opacity: 1;
			-webkit-transform: translate3d(0,0,0);
			transform: translate3d(0,0,0);
		}
		p {
            font-family: 'Satisfy-Regular';
			opacity: 1;
			-webkit-transform: translate3d(0,0,0);
			transform: translate3d(0,0,0);
		}
	}
	figcaption {
		&::before {
			position: absolute;
			top: 30px;
			right: 30px;
			bottom: 30px;
			left: 30px;
			content: '';
			opacity: 0;
			-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
			transition: opacity 0.35s, transform 0.35s;
			border-top: 1px solid #fff;
			border-bottom: 1px solid #fff;
			-webkit-transform: scale(0,1);
			transform: scale(0,1);
		}
		&::after {
			position: absolute;
			top: 30px;
			right: 30px;
			bottom: 30px;
			left: 30px;
			content: '';
			opacity: 0;
			-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
			transition: opacity 0.35s, transform 0.35s;
			border-right: 1px solid #fff;
			border-left: 1px solid #fff;
			-webkit-transform: scale(1,0);
			transform: scale(1,0);
		}
	}
	h2 {
		-webkit-transition: -webkit-transform 0.35s;
		transition: transform 0.35s;
		-webkit-transform: translate3d(0,-20px,0);
		transform: translate3d(0,-20px,0);
	}
	p {
        margin-top: 90%;
		padding: 20px 2.5em;
		opacity: 0;
		-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
		transition: opacity 0.35s, transform 0.35s;
		-webkit-transform: translate3d(0,20px,0);
		transform: translate3d(0,20px,0);
	}
}
